Modal
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div class="modal fade" id="computerEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form-group">
          <label>Brand: </label> <input class="form-control" type="text" [(ngModel)]="computer.brand" name="computerBrand"
            required #brandModel="ngModel">
          <div [hidden]="brandModel.valid" class="alert alert-danger">Značka musí byť vyplnená</div>
          <label>Model: </label> <input class="form-control" type="text" [(ngModel)]="computer.model" name="computerModel"
            required #modelModel="ngModel">
          <div [hidden]="modelModel.valid" class="alert alert-danger">Model musí byť vyplnený</div>
          <label>Drive type: </label>
          <select class="form-control" [(ngModel)]="computer.driveType" name="computerDriveType" required #driveTypeModel="ngModel">
                <option value="SSD">SSD</option>
                <option value="HDD">HDD</option>
          </select>
          <label>Drive Size: </label><input class="form-control" type="number" [(ngModel)]="computer.driveSize" name="computerDriveSize"
            required #driveSizeModel="ngModel">
                    <div [hidden]="driveSizeModel.valid" class="alert alert-danger">Veľkosť disku musí byť vyplnená</div> 
          <label>Processor: </label><input class="form-control" type="text" [(ngModel)]="computer.processor" name="computerProcessor"
            required #processorModel="ngModel">
                    <div [hidden]="processorModel.valid" class="alert alert-danger">Procesor musí byť vyplnený</div> 
          <label>RAM: </label><input class="form-control" type="number" [(ngModel)]="computer.ram" name="computerRam"
            required #ramModel="ngModel">
                 <div [hidden]="ramModel.valid" class="alert alert-danger">RAM musí byť vyplnená</div> 
          <label>OS: </label><input class="form-control" type="text" [(ngModel)]="computer.os" name="computerOs"
            required #osModel="ngModel">
                    <div [hidden]="osModel.valid" class="alert alert-danger">OS musí byť vyplneý</div> 
          <label>Office: </label><input class="form-control" type="text" [(ngModel)]="computer.office" name="computerOffice"
            required #officeModel="ngModel">
                    <div [hidden]="officeModel.valid" class="alert alert-danger">Kancelária musí byť vyplnená</div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>