<div *ngIf="status=='error'" class="alert alert-danger" role="alert">
  Chyba komunikácie, {{user}}
</div>
<h2>Zoznam používateľov</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Degree</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="selectUserClicked(user)" (dblclick)="editUserClicked(user)">
      <td scope="row">{{user.id}}</td>
      <td scope="row">{{user.degree}}</td>
      <td scope="row">{{user.name}}</td>
      <td scope="row">{{user.surname}}</td>
      <td scope="row">{{user.username}}</td>
      <td scope="row">{{user.password}}</td>
      <td><button class="btn btn-danger" (click)="deleteUserClicked(user)">X</button></td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userEditModal" (click)="addUserButtonClicked()">
  Pridať používateľa
</button>
<app-user-edit (editedUserPipe)="editedUserSaved($event)" [action]="action" [editedUser]="user"></app-user-edit>