<div *ngIf="status=='error'" class="alert alert-danger" role="alert">
  Chyba komunikácie
</div>
<h2>{{title}}</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Degree</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Permissions</th>
    <!-- //  <th scope="col">My rights</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="selectUserClicked(user)" (dblclick)="editUserClicked(user)">
      <td scope="row">{{user.id}}</td>
      <td scope="row">{{user.degree}}</td>
      <td scope="row">{{user.name}}</td>
      <td scope="row">{{user.surname}}</td>
      <td scope="row">{{user.username}}</td>
      <td scope="row">{{user.password}}</td>
      <td scope="row">{{user.permissions}}</td>
      <!-- <td><span *ngFor="let permission of user.permissions">{{permission.rightUserAdministration}}, </span></td> -->
      <td><button class="btn btn-danger" (click)="deleteUserClicked(u)">X</button></td>
    </tr>
  </tbody>
</table>
<p *ngIf="selected">Selected:
  {{selected.id}}
  {{selected.degree}}
  {{selected.name}}
  {{selected.surname}}
  {{selected.username}}
  {{selected.password}}
  {{selected.permissions}}
  <!-- {{selected.myRights}} -->
</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userEditModal" (click)="addUserButtonClicked()">
  Pridať používateľa
</button>
<app-user-edit (savedUser)="editedUserSaved($event)" [user]="editedUser" [actionWithUser]="action"></app-user-edit>